<header aria-label="Site header" class="header" id="header" role="banner">
  <div class="header__logo-and-go">
  <div class="header__logo-and-go--go">
  {{page.header_go}}
  </div>
    <div class="header__logo-and-go--logo">
    {{page.header_logo}}
  </div>
    
  </div>
  <div class="header__primary_menu">
  {{page.primary_menu}}
  </div>
</header>
<section class="content">

  {{page.content}}
  
</section>
<footer class="footer">
  <div class="footer__top">
  <div class="footer__top--left">
  {{page.footer_top_left}}
  </div>
    <div class="footer__top--center">
     {{page.footer_top_center}}
  </div>
    <div class="footer__top--right">
     {{page.footer_top_right}}
  </div>
  </div>
<div class="footer__bottom">
{{page.footer_bottom_center}}
</div>
</footer>